/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


h1.title {
  font-family: "Raleway";
  font-size: 40px;
}

pre code {
  font-size: 0.8em;  /* This makes the code 80% of the normal size */
}
